<div   id="imageOverlay" >

    <div class="topBanner">
        <p >{{currentImageIndex + 1}}  /  {{flattenedImageArray.length }}</p>
    </div>

    <div id="carouselUserGallery" class="carousel slide" data-ride="carousel" >
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img (click)= "exit()" src="../../../assets/images/x.png" id="xButton">
            <img class="d-block w-100" [src]="url|async" >
        </div>
    </div>
    <a  *ngIf="currentImageIndex > 0" (click) = "imageChange(-1)"class="carousel-control-prev"  role="button" data-slide="prev" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a *ngIf="currentImageIndex + 1 < flattenedImageArray.length" (click)= "imageChange(1)" class="carousel-control-next"  role="button" data-slide="next" style="margin-top: 25px;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
</div>