<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="icon" type="image/png" href="/static/images/favcon.png"/>
        <title>Just Go Shoot</title>
    </head>
    <body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-lightBlue">
    <a id = "logo" class="navbar-brand abs" href="#"><img id="imageLogo" src="assets/images/logo.svg"  > </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="navbar-nav nav-bar ml-65">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery" >Gallery</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a *ngIf="userId$"  class="nav-link" href="/logout">Logout</a>
                    <a *ngIf=" !(userId$)"  class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"style="padding-right: 75px;" href="/contact" >Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
