
        <div id="imageCollection"  class="container">
                <h4>Wedding </h4>
            <div class="row">
                <div class="col">
                    <img class = "lazy" data-src="assets/images/image4.jpg" id="img4">
                </div>
                <div class="col">
                    <img  class = "lazy" data-src="assets/images/image5.jpg" id="img5">
                </div>
                <div class="col">
                    <img class = "lazy" data-src="assets/images/image6.jpg" id="img6">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <img class = "lazy" data-src="assets/images/image7.jpg" id="img7">
                </div>
                <div class="col">
                    <img class = "lazy" data-src="assets/images/image8.jpg" id="img8">
                </div>
                <div class="col">
                    <img class = "lazy" data-src="assets/images/image9.jpg" id="img9">
                </div>
             </div>
        </div>

        <div id="imageCollection"  class="container">
                <h4>Birthday </h4>
            <div class="row">
                <div class="col">
                    <img class = "lazy" data-src="assets/images/image4.jpg" id="img4">
                </div>
                <div class="col">
                    <img  class = "lazy" data-src="assets/images/image5.jpg" id="img5">
                </div>
                <div class="col">
                    <img class = "lazy" data-src="assets/images/image6.jpg" id="img6">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <img class = "lazy" data-src="assets/images/image7.jpg" id="img7">
                </div>
                <div class="col">
                    <img class = "lazy" data-src="assets/images/image8.jpg" id="img8">
                </div>
                <div class="col">
                    <img class = "lazy" data-src="assets/images/image9.jpg" id="img9">
                </div>
             </div>
        </div>




